.buzz {
    height: 92vH;
    width: 100%;
}

.buzz-div {
    background: url('../../static/archive/buzz.jpg');
    /* Set a specific height */
    min-height: 92vH;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buzz-inner {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
}

.btext {
    overflow: scroll;
    height: 80vH;
}

@font-face {
    font-family: fastHand;
    src: url("../../static/archive/fast-hand-font/FastHand.ttf");
    font-weight: 500;
}

.pop-font {
    font-family: "Poppins", sans-serif !important;
    text-transform: uppercase;
    font-weight: 100;
}


.fastHand-font h1 {
    font-family: fastHand !important;
}


.sidebar {
    margin: 0;
    padding: 0;
    background-color: #fe5e54;
    height: 92vH;
    overflow: scroll;
}

.inner-side {
    margin: 0;
    background-color: #881a12;
    overflow: auto;
    padding-left: 30px !important;
}


.myplanet { width: 100%; height: 100vh; }

.sidebar a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #212529;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.normal-text {
    font-size: 32px !important;
}

.planet1 .col-lg-6 {
    width: 50%;
    display: inline-block;
}