<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../../../src/static/js/main.js"></script>
<script src="../../../src/components/headTag/headTag.component.js"></script>
<link href="../../../src/components/headTag/headTag.component.css" rel="stylesheets">
<script src="../../../src/static/js/jquery-glitch.js"></script>
<link href="../../../src/static/js/jquery-glitch.css" rel="stylesheet">

<script>
    // Function to dynamically add a script
    function addScript(url) {
        console.log(url);
        var script = document.createElement('script');
        script.src = url;
        document.head.appendChild(script);
    }
    // Add the script dynamically
    addScript("../../.." + '/src/components/headTag/headTag.component.js?' + 'nocache=' + new Date().getTime());

    // Add the script dynamically
    addScript("../../.." + '/src/static/js/jquery-glitch.js?' + 'nocache=' + new Date().getTime());

</script>
<!-------------HTML BELOW-------------->
<div class="head_component" id="head_component">
    <div class="text backbtn">
        <form class="d-flex m-0">
            <a class="btn btn-dark" href="https://tutorlix.com" type="submit">Go Back</a>
        </form>
    </div>
    <script>
        // Function to dynamically add a stylesheet
        function addStyleSheet(url) {
            var link = document.createElement('link');
            link.href = url;
            link.rel = 'stylesheet';
            document.head.appendChild(link);
        }

        // Add the stylesheet dynamically
        addStyleSheet("../../.." + '/src/components/headTag/headTag.component.css?' + 'nocache=' + new Date().getTime());
        // Add the stylesheet dynamically
        addStyleSheet("../../.." + '/src/static/js/jquery-glitch.css?' + 'nocache=' + new Date().getTime());

    </script>
</div>