<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../../../src/static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="../../../src/components/app/app.component.css" rel="stylesheet">
<script src="../../../src/components/app/app.component.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script>
  // Function to dynamically add a stylesheet
  function addStyleSheet(url) {
    {
      var link = document.createElement('link');
      link.href = url;
      link.rel = 'stylesheet';
      document.head.appendChild(link);
    }
  }

  // Function to dynamically add a script
  function addScript(url) {
    {
      console.log(url);
      var script = document.createElement('script');
      script.src = url;
      document.head.appendChild(script);
    }
  }
  // Add the stylesheet dynamically
  addStyleSheet("../../.." + '/src/components/app/app.component.css?' + 'nocache=' + new Date().getTime());
  addStyleSheet('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css?' + 'nocache=' + new Date().getTime());
  // Add the script dynamically
  addScript("../../.." + '/src/components/app/app.component.js?' + 'nocache=' + new Date().getTime());
</script>
<div class="app_component" id="app_component">
  <div class="text">
    <headTag></headTag>
    <div class="main-div">
      <div class=" container">
        <div class="row m-0 p-0">
          <div class="col-lg-6 perfect-center main-bnr">
            <div>
              <h1 class="fastHand-font-original glitch">Welcome to Tutorlix. Learn Hard Play Harder!</h1>
              <p class="text-white">Tutorlix offer you games that you can play and Learn. Focus and Consistency
                <b>Guranteed</b>.
                Also for IT games, once you complete the Game, we will start sharing your resume to companies. Leave
                your jobs on us
              </p>
              <a class="btn btn-warning" href="/aicouncellor" target="_blank"><b>Chat with a Full Time AI Based Career Counsellor</b></a>
            </div>
          </div>
        </div>
      </div>
      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
      </svg>
    </div>
    <div>
      <div class="pt-4 container">
        <h1 class="fastHand-font main-heading">Courses</h1>
        <div class="row p-0 m-0">
          <div class="col-lg-6 box">
            <div class="p-4">
              <h1 class="fastHand-font text-white">Our Courses/Games</h1>
              <p class="text-white">
                Design coding games that blend challenges with fun. Incorporate real-world scenarios,
                problem-solving, and algorithmic thinking. Offer incremental difficulty levels and instant
                feedback. Encourage collaboration through multiplayer options. Integrate popular coding
                languages and frameworks. Provide resources for deeper learning. Ultimately, make coding
                an enjoyable journey, fostering a passion for continuous improvement.
              </p>
            </div>
          </div>
          <div class="col-lg-6 row p-0 m-0">
            <div class="inner-box python-buzz perfect-center-end p-0">
              <div>
                <h1>Python Buzz - Python (DSA + Basics) Game </h1>
                <a class="text-warning" href="/pythonbuzz"><b>View Details</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="pt-4 container">
        <h1 class="fastHand-font main-heading">Live Faculty Classes</h1>
        <div class="row p-0 m-0">
          <div class="col-lg-6 box">
            <h1 class="fastHand-font text-white">Our Live Classes</h1>
          </div>
          <div class="col-lg-6 row p-0 m-0">
            <div class="col-lg-6 inner-box math-ncert perfect-center-end p-0">
              <div>
                <h1>Maths Zero to NCERT - Class 12</h1>
                <a class="text-warning"><b>View Details</b></a>
              </div>
            </div>
            <div class="col-lg-6 inner-box math-ncert perfect-center-end p-0">
              <div>
                <h1>Maths Zero to IIT - Class 12</h1>
                <a class="text-warning"><b>View Details</b></a>
              </div>
            </div>
            <div class="col-lg-6 inner-box math-ncert perfect-center-end p-0">
              <div>
                <h1>Maths Zero to NCERT - Class 11</h1>
                <a class="text-warning"><b>View Details</b></a>
              </div>
            </div>
            <div class="col-lg-6 inner-box math-ncert perfect-center-end p-0">
              <div>
                <h1>Maths Zero to IIT - Class 11</h1>
                <a class="text-warning"><b>View Details</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <foot></foot>
    </div>
  </div>
</div>