.main-div {
    height: 70vH;
    background: url('../../static/archive/main1-min.png');
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: fastHand;
    src: url("../../static/archive/fast-hand-font/FastHand.ttf");
    font-weight: 500;
}

.fastHand-font {
    font-family: fastHand;
}

.main-bnr {
    min-height: 500px;
}

@keyframes glitch {

    0%,
    100% {
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    25% {
        transform: translateY(-5px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    50% {
        transform: translateY(5px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    75% {
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.glitch-text {
    position: relative;
    font-size: 24px;
    /* Adjust the font size as needed */
    font-family: 'YourFont', sans-serif;
    /* Specify the font you want to use */
    color: #fff;
    /* Specify the text color */
    background: #333;
    /* Specify the background color */
    overflow: hidden;
}

.glitch-text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    clip: rect(0, auto, auto, 0);
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 5px);
    }

    40% {
        transform: translate(5px, -5px);
    }

    60% {
        transform: translate(-5px, 5px);
    }

    80% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0);
    }
}

.glitch {
    color: orange;
    position: relative;
    min-height: 100px;
}

.main-heading {
    color: #2e124c;
}

.box {
    min-height: 500px;
    background: orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inner-box {
    background: red;
}

.python-buzz {
    background: url(../../static/archive/Python-Buzz.jpg);
    background-size: cover;
}

.math-ncert {
    background: url(../../static/archive/math.jpg);
    background-size: cover;
}

.inner-box div {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin: 0px;
    color: #fff
}

.text-warning {
    cursor: pointer !important;
}