<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../../../src/static/js/main.js"></script>
<script src="../../../src/components/foot/foot.component.js"></script>
<link href="../../../src/components/foot/foot.component.css" rel="stylesheets">
<script>
    // Function to dynamically add a script
    function addScript(url) {
        console.log(url);
        var script = document.createElement('script');
        script.src = url;
        document.head.appendChild(script);
    }
    // Add the script dynamically
    addScript("../../.." + '/src/components/foot/foot.component.js?' + 'nocache=' + new Date().getTime());

</script>
<!-------------HTML BELOW-------------->
<div class="foot_component" id="foot_component">
    <div class="text">
        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>F.A.Q</h2>
                    <p>Frequently Asked Questions</p>
                </div>

                <ul class="faq-list">

                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What does the Tutorlix
                            app offer for students looking to improve their math and computer science skills? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                The Tutorlix app offers a range of features and resources designed to help students
                                succeed, including well-recorded lectures, sample papers and exam notes, fortnightly
                                tests, and a well-enhanced student-teacher interface. With Tutorlix, students can review
                                the material at their own pace, receive real-time feedback from expert teachers, and
                                track their progress over time.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is the Tutorlix app
                            accessible to students at any time? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, the Tutorlix app is accessible at any time, allowing students to review the
                                material and complete their assignments and tests on their own schedule. The
                                well-recorded lectures are also accessible at any time, providing students with the
                                flexibility and convenience they need to succeed. Whether you're a busy student or
                                simply looking for a flexible and engaging way to improve your math and computer science
                                skills, the Tutorlix app is the perfect solution.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Is there any Discounts in
                            Sessions? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Discounts are offered Time to Time. We have referral discounts codes offered from Time
                                to Time. You can write to us at ankitv@tutorlix.com to get the list of our Discounts. We
                                will get back for sure in utmost 24 Hours.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Is there any flexibility
                            in Live Class Timings? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                You will be provided with live Class recordings. You can watch recordings 24x7. Also we
                                have AI to clear all your doubts 24x7.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What are the class
                            Timings? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                We Will set the class timings after discussion with Students.
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </section><!-- End F.A.Q Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Tutorlix - Promo</h2>
                    <p>Promocodes for Discount</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-info">
                                <h4>Referral Discount</h4>
                                <span>You and The Referral Person will be given Rs 500 discount for every successfull
                                    monthly Student referral</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Shop No 332, 333, 334 Sector 7 Faridabad</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>ankitv@tutorlix.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+91-7042462748</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                        <form role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-4 form-group mt-3 mt-md-0">
                                    <input type="phone" class="form-control" name="phone" id="phone"
                                        placeholder="Your Phone" required>
                                </div>
                                <div class="col-md-4 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" id="message" name="message" rows="5"
                                    placeholder="Message" required></textarea>
                            </div>
                            <div class="text-center"><button type="button" onclick="generateInvoice()">Send
                                    Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <h3 class="fastHand-font-original">Tutorlix</h3>
                <p>Good Educations to Students is our Priority. You are our Priority.</p>
                <div class="row p-2">
                    <div class="col-lg-4"><a
                            href="https://www.termsandconditionsgenerator.com/live.php?token=7FzlFAVx7rSIUupTMTO6KaR2PsVXrJda"
                            rel="nofollow" target="_blank" class="text-white">Terms and Conditions</a></div>
                    <div class="col-lg-4"><a
                            href="https://app.termly.io/dashboard/website/85f377c2-10bd-486c-ae1f-5f251dd77c5f"
                            rel="nofollow" target="_blank" class="text-white">Privacy Policy</a></div>
                    <div class="col-lg-4"><a href="Refunds.html" rel="nofollow" target="_blank" class="text-white">Cancellation/Refunds
                            Policy</a></div>
                    <div class="col-lg-4"><a href="#" class="text-white">Home</a></div>
                    <div class="col-lg-4"><a href="#about" class="text-white">About</a></div>
                    <div class="col-lg-4"><a href="#pricing" class="text-white">Pricing</a></div>
                    <div class="col-lg-4"><a href="#team" class="text-white">Discount</a></div>
                    <div class="col-lg-4"><a href="https://it.tutorlix.com/" class="text-white">DSA Education SAAS</a></div>
                    <div class="col-lg-4"><a href="#contact" class="text-white">Contact</a></div>
                    <div class="col-lg-4"><a href="http://tutorlix.com/greatgreatsitemaps/sitemaps.xml" class="text-white">Sitemaps</a>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span><a href="https://tutorlix.com/">Tutorlix</a></span></strong>. All
                    Rights
                    Reserved
                </div>
                <div class="credits">
                </div>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
    </div>
    <script>
        // Function to dynamically add a stylesheet
        function addStyleSheet(url) {
            var link = document.createElement('link');
            link.href = url;
            link.rel = 'stylesheet';
            document.head.appendChild(link);
        }

        // Add the stylesheet dynamically
        addStyleSheet("../../.." + '/src/components/foot/foot.component.css?' + 'nocache=' + new Date().getTime());

    </script>
</div>